In [1]:
import pandas as pd
import numpy as np

In [2]:
from pandas.core.window.common import _flex_binary_moment
from pandas.core.window.expanding import _Rolling_and_Expanding

def weighted_average(self, weights, **kwargs):
    weights = self._shallow_copy(weights)
    window = self._get_window(weights)

    def _get_weighted_average(X, Y):
        X = X.astype('float64')
        Y = Y.astype('float64')
        sum_f = lambda x: x.rolling(window, self.min_periods, center=self.center).sum(**kwargs)
        return sum_f(X * Y) / sum_f(Y)

    return _flex_binary_moment(self._selected_obj, weights._selected_obj,
                               _get_weighted_average, pairwise=True)

_Rolling_and_Expanding.weighted_average = weighted_average

In [3]:
sensors = pd.read_csv('../data/01_raw/metadata/wind_turbine_data.csv', sep=';',  header = 0, names= ['id', 'power', 'commissioning_date', 'hub_height', 'diameter', 'nuts_id', 'lon', 'lat', 'NUTS1'], usecols= ['power', 'commissioning_date', 'hub_height', 'diameter', 'nuts_id', 'lon', 'lat'], parse_dates= ['commissioning_date'], infer_datetime_format= True)

In [4]:
dir(sensors)

['T',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_TO_AXIS_NUMBER',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_summary_and_see_also_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_box_col_values',
 '_builtin_table',
 '_can_fast_transpose',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_combine_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_cython_table',
 '_data',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_from_arrays',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_column_array',
 '_get_cython_func',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_gotitem',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_copy',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_iset_item',
 '_iter_column_arrays',
 '_ix',
 '_ixs',
 '_join_compat',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_replace_columnwise',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_series',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'backfill',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'commissioning_date',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diameter',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'groupby',
 'gt',
 'head',
 'hist',
 'hub_height',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'lat',
 'le',
 'loc',
 'lon',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'nuts_id',
 'pad',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'power',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'where',
 'xs']

In [5]:
sensors_datesorted = sensors.sort_values('commissioning_date')

In [6]:
def _power_weighted_average(coord):
    return np.average(coord, weights=sensors_datesorted.loc[coord.index, 'power'])

sensors_daily_aggregated = sensors_datesorted \
    .groupby(by=['nuts_id', 'commissioning_date'], sort=False) \
    .agg(
         power=('power', 'sum'),
         lat=('lat', _power_weighted_average),
         lon=('lon', _power_weighted_average),
    ) \
    .reset_index() \
    .set_index('commissioning_date')

In [7]:
sensors_daily_aggregated_simpleindex = sensors_daily_aggregated.reset_index()

sensors_daily_aggregated_simpleindex.tail(3)

      commissioning_date nuts_id   power        lat        lon
13588         2017-11-01   DE11D  3000.0  49.034109  10.177751
13589         2017-11-03   DEB15  2400.0  49.639484   7.206280
13590         2017-12-01   DEB3H  3300.0  49.170525   8.239301

In [8]:
single_district_data = sensors_daily_aggregated_simpleindex.loc[sensors_daily_aggregated_simpleindex['nuts_id'] == 'DEF0C'].set_index('commissioning_date')

single_district_data[['lat', 'lon']].tail(3)

                          lat       lon
commissioning_date
2016-12-15          54.720280  9.301851
2017-03-13          54.389937  9.450079
2017-03-27          54.388749  9.455410

In [9]:
power_centroids_ts = single_district_data[['lat', 'lon']] \
.expanding() \
.weighted_average(weights=single_district_data['power'])

In [10]:
power_centroids_ts.tail()

                          lat       lon
commissioning_date
2016-09-28          54.671404  9.306583
2016-12-13          54.670255  9.307216
2016-12-15          54.670455  9.307194
2017-03-13          54.669452  9.307705
2017-03-27          54.668452  9.308232

In [11]:
single_district_data[['lat', 'lon']].tail()

                          lat       lon
commissioning_date
2016-09-28          54.522999  9.402982
2016-12-13          54.385309  9.464164
2016-12-15          54.720280  9.301851
2017-03-13          54.389937  9.450079
2017-03-27          54.388749  9.455410

In [12]:
sensors_daily_aggregated_simpleindex = sensors_daily_aggregated_simpleindex.set_index('commissioning_date')

In [13]:
sensors_df = sensors_daily_aggregated_simpleindex.copy(deep=False)

In [14]:
power_centroids_mts = {}

for district in np.unique(sensors_df['nuts_id']):
    single_district_data = sensors_df.loc[sensors_df['nuts_id'] == district]
    power_centroids_mts[district] = single_district_data[['lat', 'lon']] \
        .expanding() \
        .weighted_average(weights=single_district_data['power'])

In [69]:
power_centroids_mts['DEF0C'].tail(3)

coords              lat  lon
commissioning_date
2017-11-29          NaN  NaN
2017-11-30          NaN  NaN
2017-12-01          NaN  NaN

In [66]:
power_centroids_mts = pd.DataFrame(
    index = pd.date_range(
        start=sensors_daily_aggregated_simpleindex.index.min(), 
        end=sensors_daily_aggregated_simpleindex.index.max(), 
        freq='D',
        name='commissioning_date'
    ),
    columns = pd.MultiIndex.from_product(
        [sensors_df['nuts_id'].unique(), ['lat', 'lon']],
        names=['nuts_id', 'coords'],
    ),
)

power_centroids_mts

nuts_id            DEF0C      DEF08      DEA43      DEF07      DEA5B       \
coords               lat  lon   lat  lon   lat  lon   lat  lon   lat  lon
commissioning_date
1990-01-11           NaN  NaN   NaN  NaN   NaN  NaN   NaN  NaN   NaN  NaN
1990-01-12           NaN  NaN   NaN  NaN   NaN  NaN   NaN  NaN   NaN  NaN
1990-01-13           NaN  NaN   NaN  NaN   NaN  NaN   NaN  NaN   NaN  NaN
1990-01-14           NaN  NaN   NaN  NaN   NaN  NaN   NaN  NaN   NaN  NaN
1990-01-15           NaN  NaN   NaN  NaN   NaN  NaN   NaN  NaN   NaN  NaN
...                  ...  ...   ...  ...   ...  ...   ...  ...   ...  ...
2017-11-27           NaN  NaN   NaN  NaN   NaN  NaN   NaN  NaN   NaN  NaN
2017-11-28           NaN  NaN   NaN  NaN   NaN  NaN   NaN  NaN   NaN  NaN
2017-11-29           NaN  NaN   NaN  NaN   NaN  NaN   NaN  NaN   NaN  NaN
2017-11-30           NaN  NaN   NaN  NaN   NaN  NaN   NaN  NaN   NaN  NaN
2017-12-01           NaN  NaN   NaN  NaN   NaN  NaN   NaN  NaN   NaN  NaN

nuts_id             ... DEA2C      DE221      DE239      DE21L      DE715
coords              ...   lat  lon   lat  lon   lat  lon   lat  lon   lat  lon
commissioning_date  ...
1990-01-11          ...   NaN  NaN   NaN  NaN   NaN  NaN   NaN  NaN   NaN  NaN
1990-01-12          ...   NaN  NaN   NaN  NaN   NaN  NaN   NaN  NaN   NaN  NaN
1990-01-13          ...   NaN  NaN   NaN  NaN   NaN  NaN   NaN  NaN   NaN  NaN
1990-01-14          ...   NaN  NaN   NaN  NaN   NaN  NaN   NaN  NaN   NaN  NaN
1990-01-15          ...   NaN  NaN   NaN  NaN   NaN  NaN   NaN  NaN   NaN  NaN
...                 ...   ...  ...   ...  ...   ...  ...   ...  ...   ...  ...
2017-11-27          ...   NaN  NaN   NaN  NaN   NaN  NaN   NaN  NaN   NaN  NaN
2017-11-28          ...   NaN  NaN   NaN  NaN   NaN  NaN   NaN  NaN   NaN  NaN
2017-11-29          ...   NaN  NaN   NaN  NaN   NaN  NaN   NaN  NaN   NaN  NaN
2017-11-30          ...   NaN  NaN   NaN  NaN   NaN  NaN   NaN  NaN   NaN  NaN
2017-12-01          ...   NaN  NaN   NaN  NaN   NaN  NaN   NaN  NaN   NaN  NaN

[10187 rows x 606 columns]

In [67]:
for district in sensors_df['nuts_id'].unique():
    single_district_data = sensors_df[sensors_df['nuts_id'] == district]
    power_centroids_mts[district] = single_district_data[['lat', 'lon']] \
        .expanding() \
        .weighted_average(weights=single_district_data['power'])

In [16]:
power_centroids_mts_tuple = pd.Series(
    list(zip(
        power_centroids_mts['DEF0C'].lat,
        power_centroids_mts['DEF0C'].lon
        )
    ),
    index=power_centroids_mts['DEF0C'].index,
    name='geocenter_lat_lon',
)

In [68]:
power_centroids_mts

nuts_id                 DEF0C           DEF08     DEA43     DEF07     DEA5B  \
coords                    lat       lon   lat lon   lat lon   lat lon   lat
commissioning_date
1990-01-11          54.592251  9.398496   NaN NaN   NaN NaN   NaN NaN   NaN
1990-01-12                NaN       NaN   NaN NaN   NaN NaN   NaN NaN   NaN
1990-01-13                NaN       NaN   NaN NaN   NaN NaN   NaN NaN   NaN
1990-01-14                NaN       NaN   NaN NaN   NaN NaN   NaN NaN   NaN
1990-01-15                NaN       NaN   NaN NaN   NaN NaN   NaN NaN   NaN
...                       ...       ...   ...  ..   ...  ..   ...  ..   ...
2017-11-27                NaN       NaN   NaN NaN   NaN NaN   NaN NaN   NaN
2017-11-28                NaN       NaN   NaN NaN   NaN NaN   NaN NaN   NaN
2017-11-29                NaN       NaN   NaN NaN   NaN NaN   NaN NaN   NaN
2017-11-30                NaN       NaN   NaN NaN   NaN NaN   NaN NaN   NaN
2017-12-01                NaN       NaN   NaN NaN   NaN NaN   NaN NaN   NaN

nuts_id                 ... DEA2C     DE221     DE239     DE21L     DE715
coords             lon  ...   lat lon   lat lon   lat lon   lat lon   lat lon
commissioning_date      ...
1990-01-11         NaN  ...   NaN NaN   NaN NaN   NaN NaN   NaN NaN   NaN NaN
1990-01-12         NaN  ...   NaN NaN   NaN NaN   NaN NaN   NaN NaN   NaN NaN
1990-01-13         NaN  ...   NaN NaN   NaN NaN   NaN NaN   NaN NaN   NaN NaN
1990-01-14         NaN  ...   NaN NaN   NaN NaN   NaN NaN   NaN NaN   NaN NaN
1990-01-15         NaN  ...   NaN NaN   NaN NaN   NaN NaN   NaN NaN   NaN NaN
...                 ..  ...   ...  ..   ...  ..   ...  ..   ...  ..   ...  ..
2017-11-27         NaN  ...   NaN NaN   NaN NaN   NaN NaN   NaN NaN   NaN NaN
2017-11-28         NaN  ...   NaN NaN   NaN NaN   NaN NaN   NaN NaN   NaN NaN
2017-11-29         NaN  ...   NaN NaN   NaN NaN   NaN NaN   NaN NaN   NaN NaN
2017-11-30         NaN  ...   NaN NaN   NaN NaN   NaN NaN   NaN NaN   NaN NaN
2017-12-01         NaN  ...   NaN NaN   NaN NaN   NaN NaN   NaN NaN   NaN NaN

[10187 rows x 606 columns]

In [77]:
power_centroids_mts.loc['2017-03', 'DEF0C'].tail(20)

coords                    lat       lon
commissioning_date
2017-03-12                NaN       NaN
2017-03-13          54.669452  9.307705
2017-03-14                NaN       NaN
2017-03-15                NaN       NaN
2017-03-16                NaN       NaN
2017-03-17                NaN       NaN
2017-03-18                NaN       NaN
2017-03-19                NaN       NaN
2017-03-20                NaN       NaN
2017-03-21                NaN       NaN
2017-03-22                NaN       NaN
2017-03-23                NaN       NaN
2017-03-24                NaN       NaN
2017-03-25                NaN       NaN
2017-03-26                NaN       NaN
2017-03-27          54.668452  9.308232
2017-03-28                NaN       NaN
2017-03-29                NaN       NaN
2017-03-30                NaN       NaN
2017-03-31                NaN       NaN