In [1]:
import pandas as pd
import numpy as np

In [2]:
 window_size_first_pass = 365
 window_size_last_pass = 540
 n_passes = 3
 forecasting_window_size = 7

In [71]:
cv_splits_dict = {}
window_size_increment = int( (window_size_last_pass - window_size_first_pass) / (n_passes-1) )
for p in range(n_passes):
    pass_id = 'pass_' + str(p + 1)
    cv_splits_dict[pass_id] = {
            'train_idx': [
                0,
                window_size_first_pass + p * window_size_increment
            ],
            'test_idx': [
                window_size_first_pass + p * window_size_increment,
                window_size_first_pass + p * window_size_increment + forecasting_window_size,
            ],
    }

In [56]:
cv_splits_dict

{'pass_1': {'train_idx': [0, 365], 'test_idx': [365, 372]},
 'pass_2': {'train_idx': [0, 452], 'test_idx': [452, 459]},
 'pass_3': {'train_idx': [0, 539], 'test_idx': [539, 546]}}

In [27]:
df_spatiotemporal = capacity_factors_daily_2000to2015 = pd.read_hdf(
    path_or_buf='../data/05_model_input/df_spatiotemporal.hdf', 
    key='df_spatiotemporal'
)

In [74]:
cv = cv_splits_dict

for pass_id in cv.keys():
    y_train = df_spatiotemporal.iloc[
        cv[pass_id]['train_idx'][0] : cv[pass_id]['train_idx'][1],
        :
    ]

    y_test = df_spatiotemporal.iloc[
        cv[pass_id]['test_idx'][0] : cv[pass_id]['test_idx'][1],
        :
    ]

    display(y_train.index, y_test.index)

DatetimeIndex(['2014-01-01', '2014-01-02', '2014-01-03', '2014-01-04',
               '2014-01-05', '2014-01-06', '2014-01-07', '2014-01-08',
               '2014-01-09', '2014-01-10',
               ...
               '2014-12-22', '2014-12-23', '2014-12-24', '2014-12-25',
               '2014-12-26', '2014-12-27', '2014-12-28', '2014-12-29',
               '2014-12-30', '2014-12-31'],
              dtype='datetime64[ns]', length=365, freq='D')

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07'],
              dtype='datetime64[ns]', freq='D')

DatetimeIndex(['2014-01-01', '2014-01-02', '2014-01-03', '2014-01-04',
               '2014-01-05', '2014-01-06', '2014-01-07', '2014-01-08',
               '2014-01-09', '2014-01-10',
               ...
               '2015-03-19', '2015-03-20', '2015-03-21', '2015-03-22',
               '2015-03-23', '2015-03-24', '2015-03-25', '2015-03-26',
               '2015-03-27', '2015-03-28'],
              dtype='datetime64[ns]', length=452, freq='D')

DatetimeIndex(['2015-03-29', '2015-03-30', '2015-03-31', '2015-04-01',
               '2015-04-02', '2015-04-03', '2015-04-04'],
              dtype='datetime64[ns]', freq='D')

DatetimeIndex(['2014-01-01', '2014-01-02', '2014-01-03', '2014-01-04',
               '2014-01-05', '2014-01-06', '2014-01-07', '2014-01-08',
               '2014-01-09', '2014-01-10',
               ...
               '2015-06-14', '2015-06-15', '2015-06-16', '2015-06-17',
               '2015-06-18', '2015-06-19', '2015-06-20', '2015-06-21',
               '2015-06-22', '2015-06-23'],
              dtype='datetime64[ns]', length=539, freq='D')

DatetimeIndex(['2015-06-24', '2015-06-25', '2015-06-26', '2015-06-27',
               '2015-06-28', '2015-06-29', '2015-06-30'],
              dtype='datetime64[ns]', freq='D')

In [69]:
cv.keys()

dict_keys(['pass_1', 'pass_2', 'pass_3'])

In [53]:
y_test = df_spatiotemporal.iloc[
    cv['pass_3']['test_idx'][0] : cv['pass_3']['test_idx'][1],
    :
]

y_test

data_type     spatial                                                      \
district        DE111                DE114                DE115
var               lat       lon        lat       lon        lat       lon
2015-06-24  48.831018  9.097432  48.625037  9.807222  48.974292  9.171993
2015-06-25  48.831018  9.097432  48.625037  9.807222  48.974292  9.171993
2015-06-26  48.831018  9.097432  48.625037  9.807222  48.974292  9.171993
2015-06-27  48.831018  9.097432  48.625037  9.807222  48.974292  9.171993
2015-06-28  48.831018  9.097432  48.625037  9.807222  48.974292  9.171993
2015-06-29  48.831018  9.097432  48.625037  9.807222  48.974292  9.171993
2015-06-30  48.831018  9.097432  48.625037  9.807222  48.974292  9.171993

data_type                                             ...  temporal            \
district        DE116                DE118            ...     DEG0E     DEG0F
var               lat       lon        lat       lon  ...     power     power
2015-06-24  48.893531  9.658886  49.230943  9.432435  ...  0.021073  0.070911
2015-06-25  48.893531  9.658886  49.230943  9.432435  ...  0.003439  0.002760
2015-06-26  48.893531  9.658886  49.230943  9.432435  ...  0.002075  0.042397
2015-06-27  48.893531  9.658886  49.230943  9.432435  ...  0.017386  0.036263
2015-06-28  48.893531  9.658886  49.230943  9.432435  ...  0.003637  0.012531
2015-06-29  48.893531  9.658886  49.230943  9.432435  ...  0.011074  0.028041
2015-06-30  48.893531  9.658886  49.230943  9.432435  ...  0.015778  0.015639

data_type                                                               \
district       DEG0G     DEG0I     DEG0J     DEG0K     DEG0L     DEG0M
var            power     power     power     power     power     power
2015-06-24  0.121216  0.101873  0.136789  0.062794  0.123032  0.126751
2015-06-25  0.008543  0.003874  0.010780  0.012193  0.014287  0.017146
2015-06-26  0.036737  0.048522  0.046038  0.053898  0.064932  0.073543
2015-06-27  0.058665  0.066152  0.074198  0.058197  0.084893  0.099490
2015-06-28  0.014859  0.027275  0.022807  0.021842  0.026733  0.035512
2015-06-29  0.010750  0.034679  0.017427  0.021437  0.019890  0.019339
2015-06-30  0.018125  0.018315  0.023014  0.027694  0.031740  0.034031

data_type
district       DEG0N     DEG0P
var            power     power
2015-06-24  0.073972  0.073844
2015-06-25  0.008688  0.009718
2015-06-26  0.028946  0.033992
2015-06-27  0.093847  0.112451
2015-06-28  0.006654  0.006720
2015-06-29  0.028403  0.038928
2015-06-30  0.031144  0.032036

[7 rows x 879 columns]